@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body{
    background-color: #FBFFF1;
}

.w-full{
    width: 100%!important; 
}

.p-t{
	padding-top: 1rem;
}

.p-b{
	padding-bottom: 1rem;
}

#StyleLogoArea{
	background-color: #3A0CA3;
	color: white;
	height: 800px;
}

.video-player-1 {
	width: 432px;
	height: 238px;
	background: #e6e6e6;
	border-color: #7a7a7a;
	border-width: 1px;
	border-style: solid;
}

.NoLink-W{
    text-decoration: none;
	color: white;
}

.NoLink-B{
    text-decoration: none;
	color: #191716;
}

.avatar{
	width: 110px;
	height: 107px;
}

.MarginVideoStyle{
	background-color: #191716;
	border-radius: 21px 21px 21px 21px;
	width: 60%; 
	height: 60%;
	margin-bottom: 10px;
}

.CardStyleUp{
	background-color: #5B8266;
	width: 50%;
	border-radius: 20px 20px 0px 0px;
	color: white;
}

.CardStyleDown{
	background-color: #FF7F11;
	width: 50%;
	border-radius: 0px 0px 20px 20px;
	color: white;
}


a,p{
	font-family: 'Lato', sans-serif;
}

h2,h3,h4{
	font-family: 'Lato',sans-serif;
}

.SizeProfilPhoto{
	width: 150px;
	height: 150px;
}

.fs14{
	font-size: 14px;
}
.ImageSize{
	display: block;
    width: 300px;
    height: 300px;
	border-radius: 25px 25px 25px 25px;
}

.ColSize{
	width: 320px;
	padding-bottom: 1rem;
}

.ImageContainer{
	position: relative;
	width: 300px;
}

.overplay {
	position: absolute;
	top: 0; 
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .4s ease;
	background-color: #191716;
	border-radius: 25px 25px 25px 25px;
}

.ImageContainer:hover .overplay{
	opacity: 0.7;
}

.icon{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 1 !important;
	font-size: 50px;
	color: white;
}
